html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html, body {
	border: 0;
	margin: 0;
	color: #333;
	background: #FFF;
	font-family: LatoWebLight;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6, a {
	color: #2311ce;
}

div#navbar a:active, div#navbar a:hover {
	color: #2311ce;
}

a {
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline !important;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	letter-spacing: -1px;
}

h1, h2 {
	font-size: 30px;
}

h3 {
	font-size: 18px;
	margin: 18px 0 0 16px;
}

h2 {
	margin: 60px 0 12px 0;
	font-family: LatoWebMedium;
}

div#wrapper {
	position: relative;
	width: 100%;
	text-align: center;
}

div#main {
	position: relative;
	width: 960px;
	padding: 0 34px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

div#banner {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	height: 381px;
	background-image: url('img/banner.jpg');
	background-position: top left;
}

div#header {
	height: 60px;
}

div#header h1 {
	padding: 10px 0;
}

div#navbar {
	position: absolute;
	top: 22px;
	height: 20px;
	right: 34px;
	width: 892px;
	text-align: right;
}

div#navbar a {
	color: #AAA;
	text-transform: uppercase;
	display: inline-block;
	height: 20px;
	padding-left: 20px;
	letter-spacing: -1px;
	font-family: LatoWebSemibold;
	
}

div#splash {
	margin-top: 100px;
	width: 650px;
	height: 212px;
}

div#splash #helloquote p {
	margin: 10px 0 0 0;
	color: #FFF;
	font-size: 36px;
}

div#socials {
	height: 72px;
	padding: 12px 0;
}
#socials a.social {
	display: inline-block;
	text-decoration: none;
	color: #FFF;
	font-size: 20px;
	width: 160px;
	padding: 0;
}

a.social:hover, a.social:active {
	text-decoration: bold;
}

img.socialicon {
	vertical-align: middle;
	padding-right: 8px;
}

#content {
	padding-bottom: 100px;
}

#content li {
	margin-bottom: 10px;
	margin-left: 32px;
}

dt {
	float: left;
	display: inline-block;
	width: 100px;
	margin-left: 32px;
}

div#footer {
	text-align: center;
	font-size: 14px;
	font-family: LatoWebMedium;
	padding: 40px 0;
	color: #999;
}